* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

html {
  font-size: 62.5%; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

ul, li {
  list-style: none; }

.section__who, .section__service, .section__features, .section__join, .section__alumni {
  margin-top: 20rem;
  margin-bottom: 10rem;
  position: relative; }
  .section__who__heading, .section__service__heading, .section__features__heading, .section__join__heading, .section__alumni__heading {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#2121db), to(#09097e));
    background-image: linear-gradient(to right, #2121db, #09097e);
    font-weight: 500;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 4px;
    margin-left: -.5rem; }
.section__alumni {
  margin-bottom: 10rem; }

.section__join {
  margin-top: 55rem; }

.body-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden; }
  .body-bg img, .body-bg div {
    position: absolute; }
  .body-bg .b1 {
    width: 15rem;
    top: 5rem;
    left: -5rem;
    opacity: .5; }
  .body-bg .b2 {
    top: 18%;
    width: 100%;
    opacity: .2; }
  .body-bg .b4 {
    top: 30%;
    width: 10rem;
    opacity: .4; }
  .body-bg .b5 {
    width: 25rem;
    top: 35%;
    right: 0;
    opacity: .5; }
  .body-bg .b7 {
    width: 20rem;
    top: 43%;
    left: 0rem;
    opacity: .4; }
  .body-bg .b8 {
    width: 3rem;
    top: 43%;
    left: 50%;
    opacity: .6; }
  .body-bg .b3 {
    width: 100%;
    top: 43%;
    opacity: .2; }
  .body-bg .b6 {
    width: 8rem;
    top: 56%;
    right: -2rem;
    opacity: .6; }
  .body-bg .b9 {
    width: 20rem;
    top: 58%;
    opacity: .4;
    left: -8rem; }
  .body-bg .b10 {
    width: 15rem;
    opacity: .5;
    top: 65%;
    left: 5rem; }
  .body-bg .b11 {
    width: 28rem;
    opacity: .5;
    top: 77%;
    right: -3rem; }
  .body-bg .b12 {
    width: 100%;
    height: 18rem;
    top: 84%;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(53, 30, 233, 0.91)), to(rgba(74, 20, 140, 0.9))), url(../images/logoPattern.jpg);
    background-image: linear-gradient(to right, rgba(53, 30, 233, 0.91), rgba(74, 20, 140, 0.9)), url(../images/logoPattern.jpg);
    background-size: cover; }

header {
  width: 100%;
  height: 100vh; }
  header .header__text {
    position: absolute;
    top: 20rem;
    left: 5rem; }
  header .header__csi {
    font-size: 7rem;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    color: #292626; }
    @media only screen and (max-width: 56.25em) {
      header .header__csi {
        font-size: 5rem; } }
    header .header__csi__type {
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      margin-top: 3rem;
      color: #292626; }
      @media only screen and (max-width: 56.25em) {
        header .header__csi__type {
          font-size: 2rem; } }
  header .header__moto {
    position: relative;
    width: 45rem;
    font-family: 'Poppins', sans-serif;
    height: 4rem;
    font-size: 4rem;
    margin-top: 2rem;
    font-weight: 700;
    color: #292626; }
    header .header__moto p {
      display: inline-block;
      vertical-align: top;
      margin: 0; }
    header .header__moto .word {
      position: absolute;
      width: 22rem;
      opacity: 0;
      font-weight: 300;
      color: blue; }
  header .header__bg {
    position: relative;
    width: 100%; }
    header .header__bg img {
      position: absolute; }
    header .header__bg #bg {
      top: 0;
      right: 0;
      width: 70%; }
      @media only screen and (max-width: 56.25em) {
        header .header__bg #bg {
          width: 80%; } }
      @media only screen and (max-width: 37.5em) {
        header .header__bg #bg {
          width: 90%; } }
    header .header__bg #sys {
      width: 50rem;
      top: 10rem;
      right: 15%; }
      @media only screen and (max-width: 75em) {
        header .header__bg #sys {
          width: 50rem; } }
      @media only screen and (max-width: 56.25em) {
        header .header__bg #sys {
          top: 25rem;
          width: 40rem; } }
      @media only screen and (max-width: 37.5em) {
        header .header__bg #sys {
          top: 8rem;
          width: 25rem;
          right: 15%; } }
    header .header__bg #colourful {
      width: 38%;
      right: 3rem; }
    header .header__bg #white {
      width: 50%;
      right: 0; }
      @media only screen and (max-width: 37.5em) {
        header .header__bg #white {
          width: 70%; } }
    header .header__bg #boy {
      top: 30rem;
      width: 45rem;
      right: 22rem;
      position: absolute; }
      @media only screen and (max-width: 56.25em) {
        header .header__bg #boy {
          width: 30rem;
          top: 40rem; } }
      @media only screen and (max-width: 37.5em) {
        header .header__bg #boy {
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          opacity: .5; } }

.boy {
  -webkit-animation: updownsp1 3s infinite;
          animation: updownsp1 3s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .boy {
      -webkit-animation: none;
              animation: none; } }

@-webkit-keyframes updownsp1 {
  0% {
    top: 30rem; }
  50% {
    top: 35rem; }
  100% {
    top: 30rem; } }

@keyframes updownsp1 {
  0% {
    top: 30rem; }
  50% {
    top: 35rem; }
  100% {
    top: 30rem; } }
.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px; }

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg); }

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

footer {
  width: 100%;
  background: #fff;
  height: 50rem;
  border-top: 1px solid #ede6e6;
  margin-top: 5rem;
  position: relative; }

.footer__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0; }
  .footer__bg img {
    opacity: .2;
    width: 30rem;
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
.footer__mission {
  position: absolute;
  left: 15rem;
  top: 2rem;
  width: 45rem;
  padding: 1rem;
  color: #fff; }
  .footer__mission h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif; }
  .footer__mission p {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif; }
.footer__featured {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 2rem 0; }
  .footer__featured__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer__featured__links a {
      margin: 0 1.5rem;
      font-size: 1.8rem;
      color: #fff !important;
      -webkit-transition: all .3s;
      transition: all .3s;
      padding: .5rem 1rem;
      border-radius: 3px; }
      .footer__featured__links a:hover {
        color: #10b1b1 !important;
        -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.51), 0 15px 15px 0 rgba(0, 0, 0, 0.48);
                box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.51), 0 15px 15px 0 rgba(0, 0, 0, 0.48); }
.footer__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.footer__main {
  height: 90%;
  background: #1d1d1d;
  position: relative; }
  .footer__main__heading {
    font-size: 3rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 10rem;
    display: inline;
    padding: 1rem; }
    .footer__main__heading::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 30rem;
      background: #fff;
      left: -1rem;
      top: -25rem; }
  .footer__main__content {
    position: absolute;
    right: 2rem;
    top: -5rem;
    background: #fff;
    padding: 3rem 2rem;
    width: 50rem;
    height: 35rem;
    border-radius: 3px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 15px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 15px 15px 0 rgba(0, 0, 0, 0.08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: sans-serif; }
  .footer__main__text {
    margin-left: 2rem; }
    .footer__main__text h1 {
      position: relative;
      font-size: 2rem; }
      .footer__main__text h1::before {
        content: '';
        background: #000;
        position: absolute;
        width: .2rem;
        height: 100%;
        left: -1rem; }
    .footer__main__text p {
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif; }
.footer__copy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f4f3ee;
  overflow: hidden; }
  .footer__copy__section > a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500; }
  .footer__copy__icons {
    width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__copy__icons a img {
      width: 2rem;
      margin: 0 1.5rem;
      -webkit-transition: all .3s;
      transition: all .3s;
      border-radius: 50%; }
      .footer__copy__icons a img:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100; }
  .nav__logo {
    width: 4rem;
    height: 4rem; }
    .nav__logo img {
      width: 100%; }
  .nav__container {
    width: 95%;
    background: #fff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    height: 4rem;
    border-radius: 300px;
    z-index: 100;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__links {
    height: 100%; }
    .nav__links ul.topLinks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .nav__links ul.topLinks > li {
        margin: 0 .5rem;
        min-width: 12rem;
        padding: 0 .5rem;
        text-align: center;
        cursor: pointer;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all .3s;
        transition: all .3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative; }
        .nav__links ul.topLinks > li > a {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .nav__links ul.topLinks > li:hover {
          background: #edecfc; }
        .nav__links ul.topLinks > li:hover > ul.sublinks {
          opacity: 1;
          visibility: visible; }
        .nav__links ul.topLinks > li ul.sublinks {
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          top: 4rem;
          background: #fff;
          -webkit-transition: all .2s;
          transition: all .2s;
          margin-left: 1.5rem;
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          width: 15rem;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          font-size: 1.5rem; }
          .nav__links ul.topLinks > li ul.sublinks > li {
            text-align: left;
            padding: 1rem 0;
            padding-left: .5rem;
            -webkit-transition: all .3s;
            transition: all .3s; }
            .nav__links ul.topLinks > li ul.sublinks > li:hover {
              background: #edecfc;
              padding-left: 1rem; }
            .nav__links ul.topLinks > li ul.sublinks > li:hover > ul.subLinksChild {
              opacity: 1;
              visibility: visible; }
            .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild {
              position: absolute;
              border-radius: 4px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-transition: all .3s;
              transition: all .3s;
              background: #fff;
              min-width: 20rem;
              left: 90%;
              -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
                      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
              opacity: 0;
              visibility: hidden; }
              .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li {
                padding: 1rem 0;
                padding-left: .5rem;
                -webkit-transition: all .3s;
                transition: all .3s; }
                .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li:hover {
                  background: #edecfc;
                  padding-left: 1rem; }
                .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li > a {
                  width: 100%;
                  height: 100%;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                      -ms-flex-align: center;
                          align-items: center;
                  -webkit-box-pack: start;
                      -ms-flex-pack: start;
                          justify-content: flex-start; }

.who__container {
  width: 100%;
  height: 30rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.who__text {
  width: 40%;
  padding-left: 10rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #e3e3e3; }
  .who__text h1 {
    font-family: 'Muli', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: #05055a; }
  .who__text p {
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    font-size: 1.4rem; }
.who__images {
  width: 50%;
  position: relative;
  height: 100%;
  margin-left: 2rem;
  overflow: hidden; }
  .who__images__icons {
    position: absolute;
    top: 54%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .who__images__icons a {
      width: 4rem;
      margin: 0.5rem;
      -webkit-transition: all .3s;
      transition: all .3s;
      position: relative; }
      .who__images__icons a::after {
        content: '';
        position: absolute;
        top: 2rem;
        width: 0;
        height: 3px;
        background: #fff;
        left: 0;
        -webkit-transition: all .3s;
        transition: all .3s; }
      .who__images__icons a img {
        width: 4rem;
        -webkit-transition: all .3s;
        transition: all .3s; }
      .who__images__icons a:hover > img {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
      .who__images__icons a:hover::after {
        width: 100%; }
  .who__images img {
    width: 100%; }
  .who__images__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 219, 0)), to(rgba(9, 9, 126, 0)));
    background-image: linear-gradient(rgba(33, 33, 219, 0), rgba(9, 9, 126, 0));
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    opacity: 0; }
    .who__images__cover:hover {
      opacity: 1;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 219, 0.41)), to(rgba(9, 9, 126, 0.31)));
      background-image: linear-gradient(rgba(33, 33, 219, 0.41), rgba(9, 9, 126, 0.31)); }
.who__btn {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  padding: .8rem 1.5rem;
  border: 1px solid black;
  margin-top: 1rem;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .who__btn img {
    margin-right: 2rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 2rem; }
  .who__btn:hover img {
    margin-right: 1rem; }

.service__container {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem; }
.service__domain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50rem;
  width: 100%; }
  .service__domain__image {
    width: 50%;
    background-repeat: no-repeat; }
    .service__domain__image img {
      height: 100%; }
  .service__domain__text {
    width: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .service__domain__text h1 {
      font-family: 'Muli', sans-serif;
      font-size: 4rem;
      font-weight: 900;
      color: #05055a; }
    .service__domain__text p {
      font-size: 2rem;
      font-family: 'Poppins', sans-serif; }

.features {
  position: relative; }
  .features__container {
    background: #ebe6e6;
    width: 85%;
    position: absolute;
    right: 0;
    top: 30rem;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem;
    margin-bottom: 10rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: 3px; }
  .features__box {
    width: 35rem;
    height: 38rem;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    padding: .5rem 2rem;
    overflow: hidden;
    position: relative; }
    .features__box:hover {
      -webkit-transform: translateY(-1rem);
              transform: translateY(-1rem);
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
              box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); }
    .features__box .bg {
      position: absolute;
      width: 10rem;
      top: 20%;
      left: 85%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      opacity: .2; }
    .features__box h1 {
      font-size: 3rem;
      font-family: 'Muli', sans-serif;
      margin: 2rem 0;
      margin-top: 4rem; }
    .features__box p {
      font-size: 1.4rem;
      font-family: 'Poppins', sans-serif; }
    .features__box::after {
      content: '';
      position: absolute;
      width: 10%;
      height: 1rem;
      background: -webkit-gradient(linear, left top, right top, from(blue), to(#080871));
      background: linear-gradient(to right, blue, #080871);
      left: 50%;
      bottom: 0;
      opacity: 0;
      -webkit-transition: all .2s;
      transition: all .2s;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .features__box:hover::after {
      width: 100%;
      opacity: 1; }

.features {
  position: relative; }
  .features__container {
    background: #ebe6e6;
    width: 85%;
    position: absolute;
    right: 0;
    top: 30rem;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1rem;
    margin-bottom: 10rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: 3px; }
  .features__box {
    width: 35rem;
    height: 38rem;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    padding: .5rem 2rem;
    overflow: hidden;
    position: relative; }
    .features__box:hover {
      -webkit-transform: translateY(-1rem);
              transform: translateY(-1rem);
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
              box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); }
    .features__box .bg {
      position: absolute;
      width: 10rem;
      top: 20%;
      left: 85%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      opacity: .2; }
    .features__box h1 {
      font-size: 3rem;
      font-family: 'Muli', sans-serif;
      margin: 2rem 0;
      margin-top: 4rem; }
    .features__box p {
      font-size: 1.4rem;
      font-family: 'Poppins', sans-serif; }
    .features__box::after {
      content: '';
      position: absolute;
      width: 10%;
      height: 1rem;
      background: -webkit-gradient(linear, left top, right top, from(blue), to(#080871));
      background: linear-gradient(to right, blue, #080871);
      left: 50%;
      bottom: 0;
      opacity: 0;
      -webkit-transition: all .2s;
      transition: all .2s;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .features__box:hover::after {
      width: 100%;
      opacity: 1; }

.alumni__container {
  width: 10    0%;
  margin-top: 6rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.alumni__box {
  position: relative;
  width: 12rem;
  height: 12rem;
  background: #000;
  cursor: pointer;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin: .5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .alumni__box img {
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .alumni__box:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 10;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); }
  .alumni__box:hover .name {
    opacity: 1; }
  .alumni__box:hover img {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg); }
  .alumni__box .name {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: .5rem 0;
    padding-left: 1rem;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    color: #fff;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: rgba(0, 0, 0, 0.58);
    opacity: 0; }

.join__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem; }
.join__box {
  background: #fff;
  margin: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  .join__box path {
    -webkit-transition: all .3s;
    transition: all .3s; }
  .join__box:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  .join__box:hover path {
    stroke-dashoffset: -275.5px; }
  .join__box:hover .line {
    width: 5rem;
    left: 80%;
    opacity: 1; }
  .join__box:hover .num {
    color: #0944C6; }
  .join__box__anim {
    position: relative;
    width: 12rem;
    height: 10rem;
    margin-right: 4rem; }
    .join__box__anim svg,
    .join__box__anim div {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      position: absolute; }
    .join__box__anim .num {
      font-family: 'Poppins', sans-serif;
      font-size: 3rem;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      -webkit-transition: all .3s;
      transition: all .3s; }
    .join__box__anim .line {
      width: 0rem;
      height: 2px;
      background: #000;
      left: 60%;
      -webkit-transition: all .3s;
      transition: all .3s;
      opacity: 0; }
  .join__box__text {
    font-family: 'Poppins'; }
    .join__box__text h1 {
      font-size: 2rem; }
    .join__box__text p {
      font-size: 1.5rem; }

/*# sourceMappingURL=style.css.map */