* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 1000px;
    background: antiquewhite;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header img {
    position: absolute;
    top: 0;
    left: 0;
}

.boy {
    animation: updownsp1 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes updownsp1 {
    0% {
        top: 0;

    }
    50% {
        top: -30px;
    }
    100% {
        top: 0;
    }

}

.header__text {
    position: absolute;
    left: 50px;
    top: 200px;
    color: #292626;
    font-family: 'Muli', sans-serif;
    padding: 1px;
}

.header__csi {
    letter-spacing: 4px;
    font-size: 70px;
    font-weight: 600;
    /*    margin-bottom: 20px;*/
}

.header__csi__type {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 30px;
}

.header__moto {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.header__moto > span{
    position: relative;
}
.header__moto > span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 50%;
    height: 2px;
    background: blue;
}

#menu__section {
    backface-visibility: hidden;
    height: 100%;
    background: #292626;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    position: fixed;
    z-index: 500;
    overflow: hidden;
    transition: all .5s;
}

.menu__logo__section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .5s;
    width: 30%;
    overflow: hidden;
    background: #fff;
    z-index: 1000;
}

.menu__logo__section img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .4s ease-in;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.nav__button {
    z-index: 600;
    position: absolute;
    top: 0;
    left: 0;

}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    text-align: center;
}


.navigation__icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    background: #342f2f;
    display: block;
    transition: all 0.2s cubic-bezier(.49, .47, .15, 1.07);
}

.navigation__icon-1 {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    top: 6px;
    background: #342f2f;
    transition: all 0.3s;
}

.navigation__icon-2 {
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    top: 9px;
    margin: 3px 0;
    background: #342f2f;
    left: 50%;
    transition: all 0.4s cubic-bezier(.49, .47, .15, 1.07);
    transform: translateX(-50%);
}

.movelogo {
    left: -80px !important;
    transform: translateX(-50%) translateY(-50%) rotate(-360deg) !important;
}


.nav__active .navigation__icon {
    transform: translateX(-14%) rotate(45deg) translateY(17px);
}

.nav__active .navigation__icon-1 {
    opacity: 0;
}

.nav__active .navigation__icon-2 {
    transform: translateX(-50%) rotate(-45deg);
}

.navigation__button:hover {
    cursor: pointer;
}



.navigation__checkbox:checked ~ #menu__section {
    width: 0%;
}

.expand {
    width: 100% !important;
}

.menu__links {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
}

.main__links {
    height: 100%;
    width: 50%;
    padding: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    transition: all .3s;

}

.main__links > div {

    transition: all .3s;
    position: relative;
}

.main__links > div::before {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    /*    background: #28a7e9;*/
    background: blue;
    width: 0%;
    transition: all .3s;
    height: 30%;
    z-index: -1;
    opacity: .4;
}

.link:hover::before {
    width: 105%;
}

.expLink {
    display: flex;
    overflow: hidden;
    position: relative;

}

.expLink a {
    /*   transform: translateX(-120%);*/
}

.replacing__links {
    align-items: baseline;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all .3s;
}

.rLinks {
    margin: 30px 0;
    position: relative;
}

.rLinks::before {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 0%;
    background: blue;
    height: 30%;
    z-index: -1;
    transition: all .3s;
    opacity: .4;
}

.rLinks:hover::before {
    width: 105%;
}

.hideLinks {

    opacity: 0;
    transform: translateX(-20%);

}

.hideArrow {
    opacity: 0;
    transform: translateY(-50%) translateX(80px) !important;
}

.arrow {
    color: #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}

.arrow:hover {
    cursor: pointer;
}

.material-icons.md-36 {
    font-size: 36px;
}
.showRLinks{
    left: 30%;
    opacity: 1;
}