.team-page {
    margin-top: 15rem;
}

.text {
        background-image: linear-gradient(to right, #2121db, #09097e);
        width: 25rem;
        height: 10rem;
    border-radius: .5rem;
    margin-left: -.2rem;
  
    &__align {
         font-size: 3.5rem;
         font-weight: 700;
         font-family: 'Poppins', sans-serif;
         display: inline-block;
         color: white;
    padding:2rem;
        padding-bottom: 1rem;
         letter-spacing: .2rem;
    }
    & span {
        font-size: 4.3rem;
    }

}