.section {
   
    &__heading {
            font-size: 3rem;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            background-image: linear-gradient(to right, #2121db, #09097e);
            font-weight: 500;
            padding: 1rem 2rem;
            display: inline-block;
            border-radius: 4px;
            margin-left: -.5rem;
        
        &__align{
       
        margin-top: 10rem;
        margin-bottom: -10rem;
        }
        }
    }




.team
{
    &__gallery {
       margin-top: 12rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}



&--box {
    width: 30rem;
    height: 40rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    margin: 3rem 2rem;
    
}


&__imgshape {
  
    width: 22rem;
    height: 22rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

}

&--member {
    height: 100%;  
    &--name {
        margin-top: 5rem;
        font-size: 3rem;
            font-family: 'Poppins', sans-serif;
         font-weight: 700;
        text-transform: uppercase;
     }
    &--icons {
   flex: 33.33%;
        
        width: 6rem;
      padding: 1rem;
        &__align {
       display: flex;
     margin-left: -.2rem;
            }
    
    }
}
}