.section {
   
    &__heading {
            font-size: 3rem;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            background-image: linear-gradient(to right, #2121db, #09097e);
            font-weight: 500;
            padding: 1rem 2rem;
            display: inline-block;
            border-radius: 4px;
            margin-left: -.5rem;
        
        &__align{
       
        margin-top: 10rem;
        margin-bottom: -10rem;
        }
        }
    }

.team{
    &__gallery{
        margin-top: 12rem;
  
        display: flex;
        justify-content: center;
       flex-wrap: wrap;
  }
    &__imgbox {
        height: 40rem;
      display: flex;
       flex: 0 1 20%;
        flex-direction: column;
       margin-left: 2rem;
       &:not(last-child)
       {
         margin-bottom: 2rem;
          
        }
    }
    
    &__imgshape {
    margin: 1rem auto;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    overflow: hidden;
 }
    &__member-photo {
       width: 100%;
    }
    &__member-name {
        font-size: 2rem;
      font-weight: 700;
         font-family: 'Poppins', sans-serif;
        letter-spacing: .5rem;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    
    &__iconbox{
        display: flex;
    justify-content: center;
    }
    &__iconlink{
         padding: 1rem;
        &--facebook{
            height: 3.5rem;
            width: 3.5rem;      
        }
        &--github {
            height: 3.5rem;
            width: 3.5rem; 
        }
        &--linkedin{
             height: 3.5rem;
            width: 3.5rem;
        
        }
        
    }
}


