*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/background-camera-copyspace-593322.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
#head{
    font-size: 400%;
    font-family:monospace;
    margin-top: 20vh; 
    text-align: center;
    color: white;
    
}
.container{
    margin: 5vh 25vw  0px  25vw;
    display: block;
    background-image: linear-gradient(transparent,grey);
    box-shadow: 2px 2px 20px;
    height: 50vh;
    width: 50vw;
}