.img__error{
   height: 45rem;
    width: 45rem; 
    margin-left: 50%;
     transform: translateX(-50%);
    margin-top: 5rem;
     @include respond(w900) {
        height: 30rem;
         width: 30rem;
      }
    @include respond(w600) {
        height: 20rem;
         width: 20rem;
      }
     @include respond(w400) {
        height: 10rem;
         width: 10rem;
         margin-top: 7rem;
      }
}
.btn__error{
   margin-left: 50%;
     transform: translateX(-50%); 
}


