* {
  padding: 0px;
  margin: 0px; }

.nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100; }

.nav__logo {
  width: 4rem;
  height: 4rem; }

.nav__logo img {
  width: 100%; }

.nav__container {
  width: 95%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  height: 4rem;
  border-radius: 300px;
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center; }

.nav__links {
  height: 100%; }

.nav__links ul.topLinks {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  height: 100%;
  align-items: center; }

.nav__links ul.topLinks > li {
  margin: 0 .5rem;
  min-width: 12rem;
  padding: 0 .5rem;
  text-align: center;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  position: relative; }

.nav__links ul.topLinks > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav__links ul.topLinks > li:hover {
  background: #edecfc; }

.nav__links ul.topLinks > li:hover > ul.sublinks {
  opacity: 1;
  visibility: visible; }

.nav__links ul.topLinks > li ul.sublinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4rem;
  background: #fff;
  transition: all .2s;
  margin-left: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: 15rem;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  font-size: 1.5rem; }

.nav__links ul.topLinks > li ul.sublinks > li {
  text-align: left;
  padding: 1rem 0;
  padding-left: .5rem;
  transition: all .3s; }

.nav__links ul.topLinks > li ul.sublinks > li:hover {
  background: #edecfc;
  padding-left: 1rem; }

.nav__links ul.topLinks > li ul.sublinks > li:hover > ul.subLinksChild {
  opacity: 1;
  visibility: visible; }

.nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild {
  position: absolute;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: all .3s;
  background: #fff;
  min-width: 20rem;
  left: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden; }

.nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li {
  padding: 1rem 0;
  padding-left: .5rem;
  transition: all .3s; }

.nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li:hover {
  background: #edecfc;
  padding-left: 1rem; }

.nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw; }
  header img {
    height: 70px;
    width: 70px; }
  header h1 {
    height: 70px;
    line-height: 70px;
    font-family: 'Muli', sans-serif;
    color: #292626;
    font-size: 30px;
    border: 1px black;
    font-weight: 800; }

section {
  padding: 50px 5vw 0px 5vw;
  display: flex;
  flex-direction: row;
  align-content: center; }
  section .left {
    height: 70vh;
    width: 50vw; }
    section .left img {
      overflow: hidden;
      width: 100%;
      height: 100%; }
  section .right {
    padding: 40px;
    background-image: linear-gradient(-45deg, #95F3FD, white, white, white);
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-content: center; }
    section .right div {
      margin: 17px; }

.right__dec h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #292626;
  margin-bottom: 20px; }
.right__dec p {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Orbitron', sans-serif;
  font-weight: 300; }

.form input {
  border: 0px solid;
  border-bottom: 2px solid #7B1A8B;
  border-radius: 4px black;
  height: 40px;
  width: 200px; }
.form a {
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  text-decoration: none; }
.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.stid {
  display: flex; }
  .stid .material-icons.md-35 {
    font-size: 35px;
    line-height: 40px;
    margin-right: 5px; }

.buttons button {
  background-color: transparent;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  padding: 12px 24px;
  border: 0px solid black; }

.help a {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300; }

/*# sourceMappingURL=account.css.map */
