*{
    margin: 0px;
    padding: 0px;
}
.section__top{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-content: space-between;
    
}
.section__top__left{
    background-color: grey;
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content:flex-end;
    h1{
        font-family: cursive;
    }
   
}
.section__top__right{
    height: 100vh;
        width :60vw;
    .circle{
    
        overflow: hidden;
        height: 90%;
        width: 100%;
       
        background-color: black;
        border-radius: 0px 0px 0px 100%;
        img{
            height: 100%;
            
        }
    }
}