* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          /*background-color: red;*/
        }

html {
  font-size: 62.5%; }
a {
  text-decoration: none;
  color: #000; }
ul, li {
  list-style: none; }

.section__who, .section__service, .section__features, .section__join {
  margin-top: 20rem;
  margin-bottom: 10rem;
  position: relative; }
  .section__who__heading, .section__service__heading, .section__features__heading, .section__join__heading {
    font-size: 3rem;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#2121db), to(#09097e));
    background-image: linear-gradient(to right, #2121db, #09097e);
    font-weight: 500;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 4px;
    margin-left: -.5rem; }

.section__join {
  margin-top: 55rem; }
  .nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100; }
  .nav__logo {
    width: 4rem;
    height: 4rem; }
    .nav__logo img {
      width: 100%; }
  .nav__container {
    width: 95%;
    background: #fff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    height: 4rem;
    border-radius: 300px;
    z-index: 100;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__links {
    height: 100%; }
    .nav__links ul.topLinks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .nav__links ul.topLinks > li {
        margin: 0 .5rem;
        min-width: 12rem;
        padding: 0 .5rem;
        text-align: center;
        cursor: pointer;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all .3s;
        transition: all .3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative; }
        .nav__links ul.topLinks > li > a {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        .nav__links ul.topLinks > li:hover {
          background: #edecfc; }
        .nav__links ul.topLinks > li:hover > ul.sublinks {
          opacity: 1;
          visibility: visible; }
        .nav__links ul.topLinks > li ul.sublinks {
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          top: 4rem;
          background: #fff;
          -webkit-transition: all .2s;
          transition: all .2s;
          margin-left: 1.5rem;
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          width: 15rem;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          font-size: 1.5rem; }
          .nav__links ul.topLinks > li ul.sublinks > li {
            text-align: left;
            padding: 1rem 0;
            padding-left: .5rem;
            -webkit-transition: all .3s;
            transition: all .3s; }
            .nav__links ul.topLinks > li ul.sublinks > li:hover {
              background: #edecfc;
              padding-left: 1rem; }
            .nav__links ul.topLinks > li ul.sublinks > li:hover > ul.subLinksChild {
              opacity: 1;
              visibility: visible; }
            .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild {
              position: absolute;
              border-radius: 4px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-transition: all .3s;
              transition: all .3s;
              background: #fff;
              min-width: 20rem;
              left: 90%;
              -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
                      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
              opacity: 0;
              visibility: hidden; }
              .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li {
                padding: 1rem 0;
                padding-left: .5rem;
                -webkit-transition: all .3s;
                transition: all .3s; }
                .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li:hover {
                  background: #edecfc;
                  padding-left: 1rem; }
                .nav__links ul.topLinks > li ul.sublinks > li > ul.subLinksChild > li > a {
                  width: 100%;
                  height: 100%;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                      -ms-flex-align: center;
                          align-items: center;
                  -webkit-box-pack: start;
                      -ms-flex-pack: start;
                          justify-content: flex-start; }
     .events__header{
      /*background: blue;*/
      width: 100%;

      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
     }                     
.cine_name{
  font-family: 'Muli', sans-serif;
       font-weight: 500;
       font-size: 5rem;
  /*height: 60px;*/
  width: 300px;
 
  
}
.about_cine{
  font-family: 'Poppins', sans-serif;
  
  /*height: 100px;*/
  width: 500px;
 
  font-size: 20px;
}
.cine_intro{
  /*background-color: pink;*/
  width: 600px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

}
.header__image__container{
  background: black;
  width: 100%;
  height: 95%;
  position: absolute;
  right: 0;
  overflow: hidden;
  border-bottom-left-radius: 100%;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.header__image__container img{
  height: 100%;
  width: 100%;
}
.cine_name,.about_cine,.first_register_button{
margin:20px 0;
margin-left: 40px;
}
.svg_img_top{
  
   width: 60%;
   height: 100%;
   position: relative;
   /*background: yellow;*/
}
.first_register_button{
  line-height: 50px;

   border-style:solid;
border-width: 1px;

background-color: rgba(255,255,255,0.3);
font-family: 'roboto',sans-serif;
font-size: 17px;
padding-left: 20px;
text-align: left;
width: 200px;
height: 50px;
cursor: pointer;
}
.first_register_button img{
  width: 2rem;

}
.event_details_header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.events_details_dates{
  
  display: flex;
  flex-direction: row;
justify-content: space-between;
padding: 0 40px 0 40px;
}
.events_details_name,.registration_details,.written_details{
  margin:20px 0;

}
.events_details_name{
  text-align: right;
   font-size: 2.5rem;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    background-image: -webkit-gradient(linear, right top, left top, from(#2121db), to(#09097e));
    background-image: linear-gradient(to left, #2121db, #09097e);
    font-weight: 500;
    padding: 1rem 0 0 2rem;
    display: inline-block;
    border-radius: 4px;
   margin: -.5rem;
   margin-left: 84rem;
}
.event_details_header{
  
  
  margin-top: 2px;
}


.event_all_details{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.registration_date,.written_date{
  margin: 10px 0;
   font-family: 'Poppins', sans-serif;
   font-size: 1.8rem;
}
.registration_date_name,.written_name{
  font-family: 'Muli', sans-serif;
       font-weight: 700;
       font-size: 1.5rem;
}
.svg_sideof_details{
  width: 230px;
  height: 130px;
}
.svg_and_details{
  display: flex;
  flex-direction: row;
}
.gallery_section{
  margin: 15px 0;
}
.gallery_name{
  text-align: left;
  margin: 50px 0;
      font-size: 2.5rem;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#2121db), to(#09097e));
    background-image: linear-gradient(to right, #2121db, #09097e);
    font-weight: 400;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 4px;
    margin-left: -.5rem;
}
.gallery{
  text-align: center;
  margin: 2px 0;
}




.CSSgal {
  position: relative;
  overflow: hidden;
  height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width:       60px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.CSSgal .bullets > a {
  display: inline-block;
  width:       30px;
  height:      30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.CSSgal .bullets > a+a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
  color: #fff;  
  text-align: center;
}
.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.CSSgal .slider > .fbits {
  background: url("https://recursos.release.ecommercestore.com.br//Banner/2016/7/7/db646ef8-113f-43e3-b0c9-415ee1398e88.jpg");
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
  
}
.slider img{
  height: 400px;
  width: 100%;
}
.other_events_header{

}
.other_events_name{
  text-align: left;
  margin: 50px 0;
   font-size: 2.5rem;
    font-family: 'Poppins',sans-serif;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#2121db), to(#09097e));
    background-image: linear-gradient(to right, #2121db, #09097e);
    font-weight: 400;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 4px;
    margin-left: -.5rem;
}

.other_events_pics{
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}
.other_events_pics img{
  height: 190px;
  width: 300px;
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.footer_address_mission_featuredlinks{
  margin: 200px 0;
}
.csi_logo_last img{
  height: 150px;
  width: 150px;
}
.footer_address_mission_featuredlinks{
  
   border-top:1px solid #D3D3D3;display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 40px 0 80px;
  
}
.mission_header,.address_header,.featuredlinks_header
{
  display: flex;
  flex-direction: column;
  width: 290px;
   box-shadow:0 0 14px rgba(0,0,0,0.5);
    height: 38rem;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
}

.address_header p,.mission_header p,.featuredlinks_header ul
{
   font-family: 'Poppins', sans-serif;
  font-size: 15px;
padding: 15px 0;

}
.mission_header h1,.address_header h1,.featuredlinks_header h1{

}
.list1{
margin-top: 10px;

}
.footer {
  border-top:1px solid #D3D3D3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 50px 20px 0 20px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
font-size: 12px;
 
}
.privacy{
  padding: 0 0 0 20px;
}
.social_media img{
  width: 25px;
  height: 25px;
}
.social_media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  
}